@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kendati global css dapat dipanggil di komponen manapun, tetapi penamaan class untuk tiap komponen adalah unik */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
